body{
    background-color: rgb(216,216,216);
}
.h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
#h01{
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
}
#box{
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}
.h2{
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;

}
i{
    font-size: 50px;
    color:darkslategray;
}
p{
    margin: -5px;
}
.home{
    background-color: black;
    color: whitesmoke;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    padding: 5px 10px;
}